body {
  background-color: #FFF;
  font-family: 'Raleway', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
a, a:hover, a:visited, a:active, a:focus { 
  color: #000;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.border-top,
.border-bottom,
.border-right,
.border-left {
  position: fixed;
  background-color: #000;
  z-index: 999;
} 

.border-top {
  top: 0;
  width: 100%;
  height: 11px;
}

.border-bottom {
  bottom: 0;
  width: 100%;
  height: 11px;
}
.border-right {
  right: 0;
  width: 11px;
  height: 100%;
}
.border-left {
  left: 0;
  width: 11px;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 35px 30px 0 30px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.logo {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  color: #000;
  text-decoration: none;
  float: left;
  transition: color .2s;
}
nav {
  float:right;
  width: auto;
  position: relative;
  padding-top: 1px;
}
nav li {
  display: inline-block;
  margin-left: 25px;
}

nav li:first-child {
  margin-left: 0;
}
nav li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  transition: color .2s;
}
nav li a:hover {
  text-decoration: none;
  color: #000;
}
.intro {
  width: 100%;
  padding: 160px 30px 0 30px;
  position: relative;
  background-color: #fff;
}
.headline {
  font-size: 39px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: -1.3px;
  color: #FFF;
  float: left;
  width: 350px;
  position: relative;
  color: #000;
  padding-bottom: 120px;
}
.headline strong {
  text-decoration: underline;
  color: #000;
  font-weight: 800;
  cursor: pointer;
  transition: color .2s;
}
.tip {
  position: absolute;
  z-index: 99999;
  display: none;
  padding: 13px;
  background-color: #000;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 20px;
  width: 195px;
  text-align: center;
  border-radius: 0 10px 10px 10px;
}
.feather {
  display: none;
}
.arrow {
  position: absolute;
  left: 0;
  top: 210px;
  animation-name: arrow-move;
  animation-duration: 1s;
  animation-timing-function:ease-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  cursor: pointer;
}
@keyframes arrow-move {
  0%   {top: 210px;}
  25%  {top: 190px;}
  50%  {top: 215px;}
  75%  {top: 190px;}
  100% {top: 210px;}
}
.about {
  clear: both;
  width: 100%;
  background-color: #000;
  padding: 90px 30px 0 30px;
  transition: background-color .2s;
  position: relative;
  z-index: 9;
}
.headline-txts {
  font-size: 41px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -1.3px;
  color: #FFF;
  display: block;
  position: relative;
  margin-bottom: 30px;
  
}
.about-txt {
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  display: block;
}
.social-media {
  display: none;
}
.about-txt-line {
  display: block;
  margin-top: 20px;
}

.soft-skills {
  display: block;
  position: relative;
  margin: 56px 0 0 0;
}
.hide {
  display: none;
}
.selected-works {
  clear: both;
  width: 100%;
  padding: 90px 30px 0 30px;
  position: relative;
  background-color: #fff;
  z-index: 9;
}
.selected-works-c {
  padding-bottom: 70px;
}
.selected-works-c h2 {
  position: relative;
  color: #000;
  width: 300px;
}
.sw-work {
  position: relative;
  left: 0px;
  top: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sw-work li {
  line-height: 25px;
  position: relative;
  width: 100%;
  padding: 80px 15px 0 15px;
  margin-bottom: 80px;
  transition: padding .5s;
}
.sw-work li a {
  display: block;
}
.sw-work li span {
  font-size: 30px;
  font-weight: 200;
}
.sw-work li h3 {
  font-size: 30px;
  font-weight: 800;
}
.sw-work li h3 span {
  font-size: 16px;
  font-weight: 700;
  display: block;

}
.sw-work li em {
  font-size: 22px;
  font-weight: 200;
  font-style: normal;
  display: block;
}
.sw-work .work-line {
  margin-top: 10px;
}
.sw-work .work-pics {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: -999;
  filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray; 
  opacity: 0.4;
  transition: filter .8s;
  transition: opacity .8s;
}
.sw-work a:hover ~ .work-pics {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: gray;
  opacity: 0.6;
  transition: filter .8s;
  transition: opacity .8s;
}
.sw-work a {
  padding: 0 0 0 0;
  transition: padding .5s;
}
.sw-work a:hover {
  padding: 0 0 0 20px;
  transition: padding .5s;
}
.sayhello {
  clear: both;
  width: 100%;
  background-color: #000;
  padding: 60px 30px 100px 30px;
  transition: background-color .2s;
  position: relative;
  z-index: 9;
}
footer li {
  display: inline-block;
  margin-right: 15px;
}
footer ul {
  padding: 0;
  margin: 0;
}
.sayhello h2 {
  width: 100%;
}
.contacts {
  color: #fff;
  font-size: 23px;
  font-weight: 200;
  line-height: 31px;
  position: relative;
  display: block;
  margin-top: 5px;
}
.contacts strong {
  font-weight: 600;
  display: block;
}
.contacts a {
  color: #fff;
  display: block;
  margin-top: 5px;
}
.contacts ul {
  color: #fff;
  display: block;
  margin-top: 10px;
}
.arrow-up {
  display: block;
  position: relative;
  top: 50px;
}

li a .fa-envelope {
  font-size: 25px;
}
li a .fa-behance {
  font-size: 23px;
}
li a .fa-linkedin-square {
  font-size: 29px;
}
li a .fa-twitter {
  font-size: 27px;
}


/* MEDIA QUERY 330px LESS #############################*/

@media only screen and (max-width: 330px) {
  nav li {
    margin-left: 10px;
  }
  .headline {
    font-size: 32px;
    line-height: 33px;
    width: 280px;
    padding-bottom: 120px;
  }
  .arrow {
    top: 190px;
  }
  @keyframes arrow-move {
    0%   {top: 190px;}
    25%  {top: 170px;}
    50%  {top: 200px;}
    75%  {top: 170px;}
    100% {top: 190px;}
  }
  .about-txt {
    font-size: 17px;
    line-height: 26px;
  }

}

/* MEDIA QUERY 768px MORE #############################*/

@media only screen and (min-width: 768px) {
  .border-top, .border-bottom {
    height: 13px;
  }
  .border-right, .border-left {
    width: 13px;
  }
  header {
    padding: 35px 40px 0 40px;
  }
  .logo {
    font-size: 20px;
    letter-spacing: 5px;
  }
  nav {
    padding-top: 4px;
  }
  nav li {
    margin-left: 30px;
  }
  nav li a {
    font-size: 15px;
  }
  nav li a:hover {
  text-decoration: line-through;
  }
  .intro {
    padding: 160px 40px 0 40px;
  }
  .headline {
    font-size: 80px;
    line-height: 81px;
    width: 710px;
    padding-bottom: 0;
  }
  .tip {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    width: 235px;
    border-radius: 0 15px 15px 15px;
  }
  .feather {
    position: relative;
    float: right;
    right: 80px;
    top: 10px;
    z-index: 1;
    display: block;
  }
  .arrow {
    top: 420px;
  }
  @keyframes arrow-move {
    0%   {top: 420px;}
    25%  {top: 400px;}
    50%  {top: 430px;}
    75%  {top: 400px;}
    100% {top: 420px;}
  }
  .about {
    background-color: #000;
    padding: 150px 40px 0 40px;
  }
  .headline-txts {
    font-size: 80px;
    display: inline-block;
    vertical-align: top;
    line-height: 81px;
    margin-bottom: 0;
  }
  .about-txt {
    width: 540px;
    font-size: 20px;
    line-height: 31px;
    position: relative;
    display: inline-block;
    left: 15%;
  }
  .social-media {
    position: relative;
    float: right;
    top: 5px;
    display: block;
  }
  .social-media li {
    padding-bottom: 15px;
    text-align: right;
  }
  .social-media li a {
    display: block;
    width: 35px;
    height: 35px;
    color: #fff;
    padding: 0;
    transition: padding .3s;
   }

   .social-media li a:hover {
    padding: 0 5px 0 0;
    transition: padding .3s;
   }

  .soft-skills {
    margin: 76px 0 0 50px;
  }
  .selected-works {
    padding: 120px 40px 0 40px;
  }
  .selected-works-c {
    padding-bottom: 100px;
  }
  .selected-works-c h2 {
    position: absolute;
  }
  .sw-work li {
    line-height: 35px;
    padding: 130px 0 0 32.8%;
    margin-bottom: 120px;
  }
  .sw-work li span {
    font-size: 40px;
  }
  .sw-work li h3{
    font-size: 40px;
  }
  .sw-work li h3 span {
    font-size: 20px;
    font-weight: 800;
    display: inline;
  }
  .sw-work li em {
    font-size: 25px;
  }
  .sayhello {
    padding: 60px 40px 0 40px;
    height: 300px;
  }
  .sayhello h2 {
    width: 240px;
  }
  .contacts {
    font-size: 25px;
    line-height: 31px;
    display: inline-block;
    left: 14%;
    margin-top: 5px;
  }
  .arrow-up {
    float: right;
    top: 0;
  }
}